name: CI

on:
  schedule:
    - cron: '0 0 * * 0'
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Ruby ${{ matrix.ruby }} x ActiveRecord ${{ matrix.ar }}"
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.1', '3.2', '3.3', '3.4', '4.0']
        ar:
          - '~> 7.1.0'
          - '~> 7.2.0'
          - '~> 8.0.0'
          - '8-1-stable'
          - 'head'
        exclude:
          - ruby: '3.1'
            ar: 'head'
          - ruby: '3.1'
            ar: '~> 8.0.0'
          - ruby: '3.1'
            ar: '8-1-stable'
    env:
      AR: ${{ matrix.ar }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run test
        run: bundle exec rake test
      - name: Run rubocop
        run: bundle exec rake rubocop

  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
      - name: Run type check
        run: rbs collection install && bundle exec steep check
